.navbar {
  width: 100%;
  height: 70px;
  background-color: #0769aa;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar h1 {
  color: white;
  font-size: 25px;
  margin-left: 20px;
}
.blue_btn {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: #0769aa;
  border-radius: 20px;
  width: 360px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-right: 20px;
}
.white_btn {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: white;
  border-radius: 20px;
  width: 120px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-right: 20px;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: sans-serif;
}
/*preview img*/
.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form_input {
  width: 350px;
  padding: 20px;
  background: #fff;
  /*   box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
              3px 3px 7px rgba(94, 104, 121, 0.377); */
}
.form_input input {
  display: none;
}
.form_input label {
  display: block;
  width: 45%;
  height: 45px;
  margin-top: 30px;
  margin-left: 27%;
  margin-right: 27%;
  line-height: 50px;
  text-align: center;
  background: #0769aa;
  color: #fff;
  font-size: 15px;
  text-transform: Uppercase;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.form_input .preview {
  height: 200px;
  width: 200px;
  border: 2px dashed #222;
  border-radius: 50%;
  margin: 0 auto;
}
.form_input img {
  width: 100%;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: none;
  margin-bottom: 30px;
}
/* edit profile form */
.manage_profile_form {
  display: flex;
  flex-direction: column;
  gap: 1.8em;
}

.manage_profile {
  padding-left: 75px;
  padding-right: 75px;
}
.manage_profile_title {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
  color: #222;
  padding-top: 30px;
  padding-bottom: 10px;
}
.manage_profile hr {
  margin-top: 25px;
  margin-bottom: 25px;
  color: #444;
}
.manage_profile_subtitle {
  text-transform: capitalize;
  font-size: 23px;
  font-weight: 600;
  color: #222;
}
.manage_profile_subtitle::after {
  content: '';
  display: block;
  width: 3rem;
  height: 6px;
  background: #0769aa;
  margin-bottom: 25px;
  border-radius: 5px;
}
.manage_profile_txt_field {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.manage_profile_label {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 400;
}
.manage_profile_txt_field input,
.manage_profile_txt_field textarea {
  padding: 9px;
  border-radius: 5px;
  border: 1px solid #222;
  outline: none;
  font-size: 18px;
}
.manage_profile_txt_field input:focus,
.manage_profile_txt_field textarea:focus {
  border: 1px solid #009688;
}
.manage_profile_txt_field textarea {
  resize: none;
}
.manage_profile_form a {
  font-size: 18px;
  background: #1e90ff;
  padding: 9px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /*rtl*/
}
.manage_profile_close {
  border: 2px solid #ff9999;
  background: #ffb3b3;
  padding: 15px;
  border-radius: 20px;
}
.manage_profile_close p {
  color: #222;
  font-weight: 600;
  padding-bottom: 20px;
}
.manage_profile_close p span {
  color: #f00;
  font-weight: 600;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}
.manage_profile_close .btn {
  font-size: 18px;
  background: #ff3333;
  padding: 9px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /*rtl*/
}
