* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: rgb(253, 255, 248);

}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#FFE6BA;
    padding: 1.2rem 2.4rem;
    width: 100%;
    font-size: 28px;
    gap: 2rem;
}

header>img {
    width: 15rem;
}

header>nav {
    display: flex;
    gap: 08rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav1 {
  display: flex;
  gap: 02rem;
  display: flex;
  justify-content: center; */
  align-items: center;
}

header>nav>a {
    color:#050502;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
}

header>nav>a:hover {
    color: #FF003C;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


#hero>h1 {
    font-size: 5rem;
    font-weight: 1000;
    color: #050502;
}

/*body looks favoritos e barra de pesquisa*/

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 50px; /* Espaço adicional abaixo da barra de pesquisa */
}

.search-bar input {
  width: 50%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.filtro-categorias {
  text-align: center;
  margin-bottom: 30px; /* Espaço adicional abaixo dos botões de filtro */
}

.filtro-btn {
  background-color: #291b02;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
}

.filtro-btn:hover {
  background-color: #291b02;
}

.content-area {
  flex: 1; /* Faz com que a área de conteúdo ocupe o restante do espaço */
  padding: 20px; /* Espaço interno para o conteúdo */
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Espaço adicional abaixo da barra de pesquisa */
}

.search-bar input {
  width: 50%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.filtro-categorias {
  text-align: center;
  margin-bottom: 20px; /* Espaço adicional abaixo dos botões de filtro */
}

.filtro-btn {
  background-color: #291b02;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
}

.filtro-btn:hover {
  background-color: #121111;
}

/* Configurações do conteúdo principal */
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

/* Grid de looks favoritos */
#gridLooks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 90%;
    margin: 20px auto;
}

/* Estilização individual de cada look */

.look {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.look img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #cccccc60;
}

.look .titulo {
    padding: 30px;
    font-size: 50px;
    font-weight: bold;
}
/* Estilização do icone de coração*/
.look {
  position: relative;
  width: 100%; /* Ajuste a largura conforme necessário */
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.look img {
  width: 100%;
  display: block;
}

.look-title {
  padding: 8px 12px;
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
  font-size: 1em;
}

.favorite-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.far, .fas {
  font-size: 24px;
  color: #ca5729; /* Cor de coração não favoritado */
}

.fas {
  color: #812909; /* Cor de coração favoritado */
}

/* Estilo para a frase de destaque acima da barra de pesquisa*/

#highlight-phrase {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
  color: #333;
  opacity: 0;
  animation: fadeIn 2s ease-out forwards;
}

/* Animação simples de fade in */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Button - ver looks completos*/

#proceed-container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 90 vh; /* Opcional: Ajuste a altura conforme necessário */
}

#proceed-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #291b02;
  border: none;
  border-radius: 5px;
  cursor: pointer
}

#proceed-button:hover {
  background-color: #177455;
}

/*FOOTER*/

footer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #121111;
    border-top: 1px solid #e9ecef;
    color: #FFF8F2;
    font-size: 15px;
    width: 100%;
    height: 400%;
}

footer div {
    margin-right: 0px;
    margin-bottom: 0;
}

footer div:last-child {
    margin-right: 0;
}

footer a  {
    color: #FFF8F2 ;
}

/*Icones do facebook twiter e instagram*/
.wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  
  .wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 30px;
    height: 30px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1da1f2;
    color: #fff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #340707;
  }
  
.container-cards>h1 {

    display: flex;
    justify-content: center;
    align-items: center
 


 /* HOME/LOGIN/ICONES */

 .wrapper {
    display: inline-flex;
    list-style: none;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: "Poppins", sans-serif;
    justify-content: end;
    background-color: #03121f;
}

.wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 20px;
    width: 30px;
    height: 30px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #1da1f2;
    color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #340707;
}
 /* HOME/LOGIN/ICONES - FIM */


/* RESPONSIVIDADE: */

     /* Estilos para telas pequenas (dispositivos móveis) */
     @media (max-width: 768px) {
      header, footer {
          flex-direction: column;
      }
  
      header > nav, #nav1 {
          flex-direction: column;
          align-items: center;
      }
  
      header > nav > a, #nav1 > a {
          margin: 0.5rem 0;
      }
  
      #hero {
          height: auto;
      }
  
      #hero > h1 {
          font-size: 3rem;
      }
  
      #looks, #looks2 {
          flex-direction: column;
      }
  
     .card,.card2 {
          width: 100%;
          margin: 1rem 0;
      }
  
     .card > img,.card2 > img {
          width: 100%;
          height: auto;
      }
  
     .wrapper {
          flex-direction: column;
          align-items: center;
      }
  
     .wrapper.icon {
          margin: 0.5rem;
      }
  }
  
  /* Estilos para telas médias (tablets) */
  @media (min-width: 769px) and (max-width: 1024px) {
      header, footer {
          flex-direction: row;
      }
  
      header > nav, #nav1 {
          flex-direction: row;
          justify-content: space-around;
      }
  
      header > nav > a, #nav1 > a {
          margin: 0.5rem;
      }
  
      #hero {
          height: 15rem;
      }
  
      #hero > h1 {
          font-size: 4rem;
      }
  
      #looks, #looks2 {
          flex-direction: row;
          flex-wrap: wrap;
      }
  
     .card,.card2 {
          width: calc(50% - 1rem);
          margin: 1rem;
      }
  
     .wrapper {
          flex-direction: row;
          justify-content: space-around;
      }
  
     .wrapper.icon {
          margin: 1rem;
      }
  }
  