.navbar {
  width: auto;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align items to the start and end */
  padding: 0 20px; /* Add padding for spacing */
  margin-bottom: 20px; 
  border-bottom: 1px solid #ccc; /* Adiciona uma linha na parte inferior do cabeçalho */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra para fora */
}


.navbar h1 {
  color: black;
  font-size: 25px;
  margin: 0; /* Remove any default margin */
  font-family: "Montserrat", sans-serif; 
}

.white_btn {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 14px;
  font-weight: 500;
  width: 200px;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  font-family: "Montserrat", sans-serif; 
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: flex;
  will-change: transform, opacity;
  z-index: 0;
  margin-right: 25px; /* Push the button to the left */
  margin-left: auto; /* Add a margin to separate from the h1 */
}

.white_btn:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.white_btn:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}


.item {
  margin: 5px;
  margin-bottom: 20px; 
  position: relative;
  display: flex; /* Add display flex */
  justify-content: center; /* Center horizontally */
}

.item_image {
  max-width: 250px;
  height: 200px; 
  object-fit: cover;
  margin-bottom: 10px;
  
}


.item_list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  margin-top: 20px; /* Adiciona espaço acima dos botões de categoria */
  margin-bottom: 20px; 
}

.item_container {
  padding-bottom: 50px;
  display: flex; /* Ensure items within the container are flex items */
  justify-content: center; /* Center items horizontally */
  
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  max-height: 80%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  overflow-y: auto; /* Use a separate class to set overflow-y */
}

.fixed_button_container {
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed_button {
  width: 60px; /* Adjust the width and height to create a circle */
  height: 60px;
  border-radius: 50%; /* This creates a circle */
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow effect */
  background-color: black;
}

.detailsButton {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: black;
  z-index: 0; 
}

.item_preview {
  width: 100%; /* Adjust based on your design requirements */
  max-width: 500px; /* Adjust based on your design requirements */
  height: auto;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background: transparent;
  color: #aaa;
  font-size: 24px;
  cursor: pointer;
}

.closeButton:hover {
  color: #fff;
}

.actionsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.categoryLabel {
  font-size: 16px;
  color: #ccc;
}

.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar h1 {
  color: white;
  font-size: 25px;
  margin-left: 20px;
}

.search_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search_input {
  height: 5rem;
  font-family: 'Lato', sans-serif;
  border: 0;
  color: #2f2f2f;
  font-size: 1.8rem;
  outline: 0;
  width: 100%;
  background: #F6F6F6;
  padding: 0 1.6rem;
  border-radius: .7rem;
  appearance: none;
  transition: all .3s cubic-bezier(0, 0, 0.43, 1.49);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

.search_button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  font-weight: bold;
  background: #57bd84;
  border-radius: 0 .7rem .7rem 0;
}

.logo {
  height: 50px; /* Adjust the height of the logo */
  margin-left: 20px; /* Add margin to separate the logo from the buttons */
}
