# Node modules
/node_modules
/api/node_modules
/client/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build directories
/dist
/build
/api/dist
/api/build
/client/dist
/client/build

# Dependency directories
/api/npm-debug.log*
/api/yarn-debug.log*
/api/yarn-error.log*
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# Environment variables
.env
/api/.env
/client/.env

# Editor directories and files
/.vscode
.idea
.DS_Store

# Coverage directory used by tools like istanbul
/coverage
/client/coverage
/api/coverage

# TypeScript cache
/api/*.tsbuildinfo
/client/*.tsbuildinfo
