.header {
  padding: 20px;

}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

/*nav1*/
.navbar1{
  display: flex;
  align-items: center;
  width: 245px;
  padding-right: 5px;
  padding-left: 2px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 15px;
  margin-left: 20px;
  border: 1px solid rgb(0, 0, 0);
}

/*nav*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 300px;
  padding: 0 20px;
  margin-right: 20px;
}

.navbar_wrapper {
  display: flex;
  flex-direction: column;
}

.navbar h1 {
  color: black;
  font-size: 25px;
  margin: 0; 
  font-family: "Montserrat", sans-serif; 
}

/* buttons */
.navButton{
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin-right: 20px;
  margin-left: 2px;
  font-size: 16px;

}

.navButton:hover {
  background-color: transparent;
  color: #aaa;
}

.navButton:focus {
  outline: none;
}

.nav_button {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  color: black;
  cursor: pointer;
}

.white_bt{
  background-color: transparent;
  border:none; 
  padding-right: 20px;
}

.white_btn:hover {
  background:transparent;

}

.white_btn:active {
  outline: none;
}

.fixed_button_container {
  position: fixed;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.fixed_button {
  width: 60px; 
  height: 60px;
  border-radius: 50%; 
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
  background-color: black;
}

.detailsButton {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: black;
  z-index: 0; 
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background: transparent;
  color: #aaa;
  font-size: 24px;
  cursor: pointer;
}

.closeButton:hover {
  color: #fff;
}

.favoriteButton{
  display: flex;
  align-items: right; 
  height: 33px;
  width: 35px;
  margin-right: 5px;
  margin-left: 15px;
  font-family: inherit;
  border: 1px solid rgb(0, 0, 0);
  color: #2f2f2f;
  font-size: 16px;
  outline: 0;
  background: #F6F6F6;
  padding-right: 5px;
  padding-left: 8px;
  padding-bottom: 5px;
  padding-top: 5px;
  transition: all .3s cubic-bezier(0, 0, 0.43, 1.49);
}

.favoriteIcon{
  background-color: transparent;
  justify-content: right;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  display: flex;
  margin-left: -4px;
}

/* style for the category popup */
.white_btn{
  background-color: transparent;
  border: none;
}

.btn{
  display: flex;
  align-items: right; 
  height: 33px;
  width: 35px;
  margin-right: 80px;
  font-family: inherit;
  border: 1px solid rgb(0, 0, 0);
  color: #444444;
  font-size: 16px;
  outline: 0;
  background: #F6F6F6;
  padding-right: 5px;
  padding-left: 2px;
  padding-bottom: 5px;
  padding-top: 5px;
  transition: all .3s cubic-bezier(0, 0, 0.43, 1.49);
}

.category_popup_button {
  top: 10%;
  right: 5%;
  z-index: 100;
  justify-content: right;
}

.category_popup {
  position: absolute;
  top: 200px; 
  right: 5%;
  z-index: 100;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: right;
}

.category_popup button {
  margin-bottom: 5px;
}

.button_section {
  display: flex;
  justify-content: right;
}

/* items */
.item {
  margin: 5px;
  margin-bottom: 20px; 
  margin-left: 1px;
  position: relative;
  display: flex; 
  justify-content: left; 
  background-color: rgb(226, 226, 226);
}

.item_image {
  max-width: 250px;
  width: 100px;
  margin-right: 10px;
  height: 120px; 
  object-fit: cover;
}

.item_list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap; 
  justify-content: left;
  align-items: center; 
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.item_container {
  padding-bottom: 50px;
  display: flex;
  justify-content: center; 

}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  max-height: 80%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  overflow-y: auto; 
}

.item_preview {
  width: 100%; 
  max-width: 500px; 
  height: auto;
}

.actionsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.categoryLabel {
  font-size: 16px;
  color: #ccc;
}

.logo {
  height: 50px; 
}

/* search */
.search_section {
  display: flex;
  align-items: left;
}
.search_container {
  display: flex;
  justify-content: left;
}

.search_input {
  height: 30px;
  width: 150px;
  font-family: inherit;
  border: 1px solid rgb(0, 0, 0);
  color: #2f2f2f;
  font-size: 16px;
  outline: 0;
  background: #F6F6F6;
  padding: 0 6px;
  transition: all .3s cubic-bezier(0, 0, 0.43, 1.49);
  border-radius: .7rem;
}

.search_input:focus {
  border-color: #000000;
}